#proyectos,
#proyectos * {
    margin: 0;
    padding: 0;
}

/* Estilo para la sección "Acerca de Mí" */
#proyectos {
    background-image: linear-gradient(135deg, #ff5e00 0%, #b30000 30%, #3f0000 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 100px 0;
    display: flex; /* Añade flex para que los elementos se ajusten verticalmente */
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center; /* Centra horizontalmente el contenido */
    min-height: 100vh; /* Asegura que la sección ocupe al menos el 100% del alto de la pantalla */
    padding-top: 0;
    z-index: 1;
    position: relative;
}

/* Estilo para la sección "Acerca de Mí" */
#proyectos {
    position: relative; /* Agrega posición relativa para posicionar el overlay */
    overflow: hidden; /* Agrega overflow para ocultar el exceso del fondo de las olas */
    padding: 100px 0;
    min-height: 100vh;
}



/* Desactivar el efecto de las figuras flotantes en la sección "Acerca de Mí" */
.about-section4 .floating-shapes-container {
    display: none;
}

/* Estilo para el contenedor de la sección*/
.about-section4 {
    /* ... Tus estilos actuales ... */
    position: relative;
    overflow: hidden; /* Agrega overflow para ocultar el exceso del fondo de las olas */
    background-image: linear-gradient(135deg, #ff5e00 0%, #b30000 30%, #001f3f 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 100px 0;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


/* Estilo para el overlay */
.overlay4 {
    /* Posicionamiento y dimensiones del overlay */
    /* ... Agrega tus estilos ... */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    background-color: rgba(233, 233, 233, 0.151); /* Cambia la opacidad del fondo */
    z-index: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Estilo para el contenido del overlay */
.overlay-content4 {
    /* Estilos para organizar los overlay items */
    /* ... Agrega tus estilos ... */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo para cada overlay item */
#proyectos .overlay-itemP {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.274);
    margin-bottom: 5px;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, background-image 0.3s;
}

/* Efecto degradado para el overlay-itemH al pasar el mouse */
.overlay-itemP:hover {
    transform: scale(1.03); /* Aumentar el tamaño al pasar el mouse */
    background-image: linear-gradient(135deg, rgb(235, 86, 0), rgba(196, 5, 5, 0.658));  /* Cambiar el color de fondo en degradado */
}

/* Estilo para la imagen dentro de cada overlay item */
#proyectos .overlay-img {
    /* Estilos para las imágenes */
    /* ... Agrega tus estilos ... */
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: 10px;
}

/* Estilos para el título y descripción del overlay */

#proyectos .overlay-titleP {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#proyectos .overlay-descriptionP {
    font-size: 18px;
    margin-bottom: 20px;
    
}

.overlay-itemH .tra {
    /* ... otros estilos ... */
    white-space: nowrap;
    animation: marquee 10s linear infinite; /* Ajusta la duración según tus preferencias */
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

#proyectos h4{
    margin-top: 20px
}


.overlay-itemP h4:hover {
    text-decoration: none; /* Asegura que la línea subrayada se quite al pasar el mouse */
    color: #442f00; /* Cambia el color del enlace al pasar el mouse sobre él */
}


.overlay-itemP a {
    text-decoration: none; /* Quita la línea subrayada por defecto */
    color: #ffffff; /* Cambia el color del enlace */
    transition: color 0.3s ease-in-out; /* Agrega una transición suave de color */
}

/* Ocultar los botones en pantallas más grandes */
.overlay-navigationP {
    display: none;
}


/* Media Query para pantallas más pequeñas, como tablets y teléfonos */
@media (max-width: 768px) {
    /* ... Tus estilos responsivos anteriores ... */

    /* Estilo para ocultar todos los overlay-itemP excepto el primero */
    .overlay4 .overlay-content4 .overlay-itemP {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;
    }

    .overlay4 .overlay-content4 .overlay-itemP.active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    #proyectos .overlay-itemP{
        align-items: center;
        text-align: center;
    }

        /* Estilo por defecto para overlays en pantallas pequeñas */
    .overlay4 .overlay-content4 {
        justify-content: center;
        align-items: center;
        padding: 10px; /* Agrega espacio interno */
    }

    #proyectos .overlay-img {
        /* Estilos para las imágenes */
        /* ... Agrega tus estilos ... */
        width: 150px;
        height: 250px;
        object-fit: contain;
        margin-top: 10px;
    }

    .overlay-navigationP .overlay-buttonP {
        margin: 5px;
        padding: 5px 10px;
        background-color: #ff5e00;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        transition: background-color 0.5s ease;
    }

    /* Cambiar el color de fondo al pasar el mouse por encima de los botones */
    .overlay-navigationP .overlay-buttonP:hover {
        background-color: #001368;
    }

    .overlay-navigationP {
        display: block;
    }

    .overlay-itemP .tra {
        /* ... otros estilos ... */
        white-space: nowrap;
        animation: marquee 10s linear infinite; /* Ajusta la duración según tus preferencias */
    }
    
    @keyframes marquee {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }

}
